---
import { Image } from 'astro:assets';

import someLogo from '../images/some.png'

import i1 from '../images/insta/i1.webp';
import i2 from '../images/insta/i2.webp';
import i3 from '../images/insta/i3.webp';
import i4 from '../images/insta/i4.webp';
import i5 from '../images/insta/i5.webp';
import i6 from '../images/insta/i6.webp';
import i7 from '../images/insta/i7.webp';
import i8 from '../images/insta/i8.webp';
import i9 from '../images/insta/i9.webp';

const instaAlt = 'instagram image';
---

<section>
	<div class='instaHeader'>
        <div class='headerContainer'>
            <Image src={someLogo} alt='circle lab logo'></Image>
            <div class='instaText'>
                <h3>kea_circularlab</h3>
                <p>20 indlæg</p>
            </div>
        </div>
        <div class='instaButton'>Følg</div>
    </div>
	<div class='grid'>
		<Image src={i1} alt={instaAlt} />
		<Image src={i2} alt={instaAlt} />
		<Image src={i3} alt={instaAlt} />
		<Image src={i4} alt={instaAlt} />
		<Image src={i5} alt={instaAlt} />
		<Image src={i6} alt={instaAlt} />
		<Image src={i7} alt={instaAlt} />
		<Image src={i8} alt={instaAlt} />
		<Image src={i9} alt={instaAlt} />
	</div>
</section>

<style>

    section {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 4rem auto;
        padding-bottom: 4rem;
    }

    .instaHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 4rem;
        margin: auto;
        margin-bottom: 2rem;
    }

    .instaHeader img {
        height: 100%;
        width: auto;
    }

    .headerContainer {
        display: flex;
        flex-direction: row;
        height: 100%;
        gap: 1rem;
        justify-content: center;
    } 
    .instaText {
        display: flex;
        flex-direction: column;
        
    }

    h3 {
        font-family: 'HelveticaBold';
    }

    .instaText p {
        transform: translateY(-2rem);
        color: var(--grey);
        
    }
    .instaButton {
        border-radius: 10px;
        background: #3B95EF;
        padding: 1rem 2rem;
        color: var(--white);
        cursor: pointer;
        font-family: 'HelveticaBold';
    }
	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
        grid-gap: 4px;
		width: 90%;
        margin: auto;
	}

	.grid img {
		object-fit: cover;
		align-items: stretch;
        width: 100%;
        height: 100%;
        aspect-ratio: 1 / 1;
	}

    @media (min-width: 800px) {

        .instaHeader {
            width: 50%;
        }
        .grid {
            width: 50%;
        }
    }

</style>
